extends layout.pug

block content
    section#content
      h2 Welcome, students!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae exercitationem voluptatibus explicabo esse eum aspernatur reprehenderit sit eaque est. Voluptas est officia laudantium voluptatem optio fuga fugit debitis enim nam?
